[submodule "foobar2000/foobar2000"]
	path = foobar2000/foobar2000
	url = https://github.com/reupen/foobar2000-sdk
[submodule "foobar2000/pfc"]
	path = foobar2000/pfc
	url = https://github.com/reupen/pfc
[submodule "msgpack-c"]
	path = msgpack-c
	url = https://github.com/msgpack/msgpack-c
        branch = cpp-2.0.0