[submodule "foobar2000/foobar2000"]
	path = dependencies/foobar2000
	url = https://github.com/reupen/foobar2000-sdk
[submodule "foobar2000/pfc"]
	path = dependencies/pfc
	url = https://github.com/reupen/pfc
[submodule "msgpack-c"]
	path = dependencies/msgpack-c
	url = https://github.com/msgpack/msgpack-c
        branch = cpp-2.0.0
[submodule "dependencies/Optional"]
	path = dependencies/Optional
	url = https://github.com/akrzemi1/Optional
[submodule "dependencies/tinyformat"]
	path = dependencies/tinyformat
	url = https://github.com/c42f/tinyformat
